<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li class="active-link">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fa fa-desktop "></i>Dashboard <span class="badge">Included</span>
                </a>
            </li>
            <li>
                <a asp-controller="Products" asp-action="Index">
                    <i class="fa fa-edit "></i> Каталог товаров
                </a>
            </li>
        </ul>
    </div>
</nav>